<ion-content class="content">
  <img src="assets/images/" alt="">
  <div class="login-screen">
    <ion-row>
      <ion-col class="logo-container">
        <img class="ede-logo" src="assets/images/logo-ede.png" alt="EDE">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="form-container">
        <ion-list>

          <ion-item [formGroup]="emailForm">
            <ion-input placeholder="Correo" type="text" [(ngModel)]="email" formControlName="email"></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="buttons-container">
      <button (click)="recoveryPassword()">Recuperar password</button>
    </ion-row>

  </div>

</ion-content>

