page-recovery-password {
    .content {
        background: radial-gradient(#4A04A0, #18003F);
        .login-screen {
            margin: 0 1em 0 1em;
            .logo-container {
                text-align: center;
                .ede-logo {
                    width: 80%;
                    border-radius: 40%;
                }
            }
            .form-container {
                ion-list {
                    ion-item {
                        font-size: 1.2em;
                        border-radius: 5px;
                        width: 90%;
                        height: 1.5em !important;
                        margin: 0 auto 0.5em auto;
                    }
                }
            }
            .buttons-container {
                button {
                    margin: 0 auto 0.3em auto;
                    font-size: 1em;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    background: linear-gradient(to right, #33cccc, #66ff99, #33cccc);
                    height: 3em;
                    color: #18003F;
                    border-radius: 10px;
                    width: 90%;
                }
            }
            .forgot-password {
                text-align: center;
                margin-top: 2em;
                p {
                    border-bottom: 2px solid color($colors, light-text);
                    margin: 0 auto;
                }
            }
        }
    }
}
