<ion-header>
  <ion-row class="topbanner-container">
      <ion-col col-1 class="return">
          <img src="assets/images/event-detail/volver.png" (click)="goBack()" alt="">
      </ion-col>
      <ion-col col-4 class="logo">
          <img src="assets/images/home/logoSuperior.png" alt="">
      </ion-col>
      <ion-col col-2 class="perfil">
          <img src="assets/images/home/logo-perfil.png" alt="">
      </ion-col>
      <ion-col col-5 class="list" (click)="settupMenu()">
          <span>TERMINOS Y CONDICIONES</span>
      </ion-col>
  </ion-row>
</ion-header>


<ion-content>
    <div class="background-image"></div>
    <div class="background"></div>
    <div class="contenedor">
      <h3></h3>
      <p>
        1. ACEPTACIÓN DE LOS TÉRMINOS Y CONDICIONES DEL SERVICIO<br>

        Los términos y condiciones del servicio descritos a continuación, en adelante denominados “TCS”, rigen cualquier uso que puedas hacer de E Dance Event como participante, sisitante u otro usuario no organizador (roles que son definidos más adelante) en (a) cualquier servicio disponible a través de este sitio web o cualquier otro sitio web proporcionado por E Dance Event en donde se den a conocer los diferentes eventos publicados en el sitio, (b) cualquiera de los sitios web del dominio edance-lab.com y (c) cualquier tipo de software o herramienta adicional proporcionada por E Dance Event como es el caso de las aplicaciones nativas publicadas por E Dance Event en las diferentes plataformas móviles (iOS y Android). Todos los servicios ofrecidos por E Dance Event son propiedad de E Dance Event, quien estará a cargo de su gestión.

        Al utilizar o acceder a cualquiera de los servicios ofrecidos por E Dance Event estás aceptando los TCS contenidos en ellos y adicionalmente estás aceptando cualquier norma de uso, regla, política o procedimiento que E Dance Event pueda llegar a publicar periódicamente. Si no estás de acuerdo o no aceptas alguna de estas políticas, procedimientos, términos, normas, condiciones y reglas de uso, NO use los servicios proporcionados ni accedas a estos.

        E Dance Event se reserva el derecho de modificar o sustituir, a su criterio exclusivo, estos TCS en cualquier momento. Es responsabilidad tuya verificar y comprobar periódicamente si estos TCS han sido modificados. Al continuar utilizando los servicios después de realizarse cualquier modificación sobre los TCS, están aceptando los cambios realizados sobre los TCS. Si no llegas a estar de acuerdo con algunos de los cambios o modificaciones realizadas a los TCS, deberás dejar de acceder y utilizar los servicios ofrecidos por E Dance Event.<br>

        2. DESCRIPCIÓN DE E DANCE EVENT<br>
        E Dance Event le permite a los usuarios registrados que son organizadores de eventos, en adelante denominados organizadores, una forma ágil y simple de: publicar en línea los eventos a través de un sitio web personalizado, realizar el proceso de registro o inscripción de participantes (raver) a los eventos, recolectar el dinero por la venta de entradas (en el caso de eventos pagos) a los participantes de los eventos, monitorear los eventos en cualquier momento, controlar el acceso e ingreso durante los días de los eventos, y proveer diferentes herramientas que faciliten la interacción entre los organizadores y los participantes de los eventos.

        Para publicar los eventos, los organizadores deben ingresar la información de los eventos como es el caso de nombre, descripción, line up, tipo de entradas (boletería), fecha, lugar, si hay o no habilitaciones de guest list, añadir número de personas que pueden entrar por guest list, advertencia sobre el evento para que sirva para los posibles participantes realicen el proceso de registro y pago de las entradas (en el caso de eventos pagos). Todos los pagos se tramitan a través de los servicios contratados por E Dance Event con terceros, en adelante denominados pasarelas de pago, que se encargan de proveer un mecanismo de pago seguro y confiable a los participantes.

        Estos TCS se aplican a ti y al uso que realices de los servicios como participante (raver) o como otro usuario no organizador.<br>

        3. USO DE LOS SERVICIOS Y SOFTWARE DE E DANCE EVENT<br>
        A través de los presentes TCS, E Dance Event te concede un derecho no exclusivo, no transferible y sin posibilidad de sub licenciamiento de acceso y uso de los servicios, únicamente para los fines de exploración del aplicativo, buscar eventos, ver la información de los eventos, guardar eventos, registrarte o inscribirte en un evento, e interactuar con un evento publicado en la aplicación, en todos los casos y de acuerdo a estos TCS, y en la medida en que todas las leyes y normas aplicables (nacionales) lo permitan. Sin perjuicio de lo anterior, no permitirás que directa o in directamente nadie, ni siquiera tú: (a) realice actividades de ingeniería inversa, desmonte, descompile o intente revelar el código fuente o la estructura, arquitectura u organización de todas o alguna de las partes de los servicios (exceptuando casos en los que esta restricción no se aplique a las restricciones limitadas sobre ingeniería inversa prohibidas por la ley local aplicable); (b) cambie, distribuya, reproduzca o cree productos o servicios derivados de cualquier parte de los servicios o del contenido del sitio; (c) rente, alquile, revenda, distribuya o utilice los servicios para fines comerciales, de tiempo compartido o de oficina de servicio; (d) elimine, retire o modifique cualquier etiqueta o notificación legal en los servicios o el contenido del sitio; (e) haga parte en cualquier actividad o tarea que interfiera o interrumpa los Servicios; o (f) participe en cualquier actividad fraudulenta o que facilite el fraude.

        Si tienes permiso para descargar o usar cualquier software relacionado con los servicios ofrecidos por E Dance Event, E Dance Event te concede una licencia personal, no transferible, sin posibilidad de sub licenciamiento, revocable y no exclusiva, únicamente para tu uso interno del software en relación con los servicios y solo de acuerdo con estos TCS y las instrucciones por escrito (si las hay) proporcionadas por E Dance Event con el software. Para estos E Dance Event, “software” hace referencia a todo el software disponible a través de este sitio o cualquier otro sitio o medio proporcionado por E Dance Event, incluyendo, sin limitaciones, la información de las aplicaciones móviles de E Dance Event disponibles para las diferentes plataformas móviles. Para una mayor claridad, el software se considerará parte de los servicios descritos en el presente documento. Tú eres el único responsable de la descarga, la configuración o el uso del software. Adicionalmente, será tu responsabilidad utilizar el software de manera que cumpla todas las leyes nacionales o locales, así como las reglas y normativas de todas las empresas de tarjetas de crédito.

        3.1 La entrada en lista está sujeta a disponibilidad de cupos asignados por el creador del evento. E Dance Event no se hace responsable por las ofertas que este evento que el promotor ofrezca.<br>

        3.2 No se puede transferir por ningún motivo, el registro del usuario a terceras personas.<br>

        3.3 E Dance Event es solo es un intermediario que tiene como fin optimizar el servicio de eventos programados en X o Y ciudad. Asimismo, al aceptar el servicio de E Dance Event, el usuario reconoce que E Dance Event no tiene relación directa con el promotor, sólo facilita el contacto entre el usuario y promotor. El usuario deberá tener el conocimiento y aceptar que E Dance Event no se responsabiliza por ningún acto cometido por cualquier usuario, ya sea por robo, discusiones y otros incluyendo el fin del compromiso a causa de algún acto.<br>

        3.4 Los términos de uso no generan ninguna sociedad, franquicia o relación laboral entre el usuario y E Dance Event.<br>

        

        4. REGISTRO Y SEGURIDAD DE LA CUENTA<br>
        Si están interesado en ser un usuario registrado de los servicios, ya sea como participante o visitante, aceptas: (a) proporcionar información real, precisa, actualizada y completa sobre ti cuando lo solicite el formulario de registro de la aplicación, denominados los datos de registro, y (b) mantener y actualizar oportunamente los datos de registro de forma que siempre sean reales, precisos, actualizados y completos. Si facilitas alguna información falsa, imprecisa, obsoleta o incompleta, o si E Dance Event tiene indicios razonables para sospechar que dicha información es falsa, imprecisa, obsoleta o incompleta, E Dance Event tiene derecho a suspender o cancelar todas tus cuentas y rechazar todos y cada uno de tus usos actuales o futuros de los servicios (o cualquier parte relacionada).

        E Dance Event se preocupa por la seguridad y privacidad de todos sus usuarios, especialmente las de los niños. Por este motivo, y para respetar las condiciones de uso de cualquier proveedor de servicios de pasarela de pagos u otro proveedor de servicios de terceros, debes tener al menos 18 años de edad, o la mayoría de edad legal de tu lugar de residencia si dicha jurisdicción establece una mayoría de edad superior, para poder registrarse y obtener una cuenta en E Dance Event.

        Al realizar el proceso de registro en la aplicación, crearás una contraseña y una cuenta. Es tu responsabilidad mantener la confidencialidad de la contraseña y de la cuenta, y serás el único responsable de todas las actividades que se realicen con tu cuenta, entre las que se incluyen, sin limitación, todas las acciones realizadas por personas con las que compartes la información de acceso a tu cuenta. Aceptas (a) notificar de inmediato a E Dance Event cualquier uso no autorizado de tu contraseña o cuenta, o cualquier otra infracción de seguridad y (b) asegurarte de que sales de la cuenta al finalizar cada sesión. E Dance Event no puede y no se considerará responsable de ninguna pérdida, daño u otro tipo de responsabilidad que surja de tu incumplimiento de esta sección o de cualquier acceso o uso no autorizado de tu cuenta. En el caso de llegar a producirse una disputa entre dos o más partes en relación con la propiedad de una cuenta, aceptas que E Dance Event sea el único árbitro de dicha disputa a su sola discreción y que la decisión de E Dance Event (que puede incluir la cancelación o suspensión de cualquier cuenta sujeta a disputa) será decisiva y vinculante para todas las partes.<br>

        5. DERECHOS DE AUTOR<br>
        La Digital Millennium Copyright Act de 1998 (la “DMCA”) permite que los propietarios de derechos de autor que creen que hay material en Internet que infringe sus derechos según lo estipulado por la ley de derechos de autor de EE.UU puedan reclamar sus derechos sobre dicho contenido publicado en Internet. Si crees de buena fe que cualquier contenido publicado en E Dance Event en relación con los servicios, infringe tus derechos de autor, tú (o tu agente) podrás enviarnos una notificación solicitando la eliminación del contenido o que se limite el acceso al mismo. Los recursos o notificaciones deben cumplir los requisitos legislativos vigentes en ese momento impuestos por la DMCA (consultando el sitio web http://www.copyright.gov podrás obtener información detallada). Las notificaciones y los recursos sobre los servicios se deben enviar dirigidos a E Dance Event al correo electrónico edancevent@gmail.com.<br>

        6. ADQUISICIÓN, PAGOS Y REEMBOLSOS<br>
        6.1 El Participante acepta que los datos de evento, número de entradas, ubicaciones, valor de las entradas, fechas y horas del evento, han sido revisadas por él y la información ingresada a la plataforma E Dance Event es de su responsabilidad.

        6.2 Las compras realizadas por E Dance Event, están sujetas a la verificación, y aceptación de la tarjeta débito, crédito o PSE por parte del BANCO, o entidad financiera, por la que el cliente hace la compra, así como a la verificación de los datos.

        6.3 El Participante acepta y conoce que las entradas que adquiera por medio de E Dance Event, tienen un costo adicional por el servicio ofrecido por la plataforma, este costo puede ser variable dependiendo el evento y la cantidad de entradas adquiridas y será cancelado por el participante a E Dance Event.

        6.4 Al utilizar una pasarela de pago, los organizadores y los participantes realizan una transacción monetaria que está sujeta a todas las condiciones y términos de uso que regulan el servicio de la pasarela de pago.<br>

        7. MODIFICACIONES, SUSPENSIÓN Y FINALIZACIÓN DEL SERVICIO<br>
        E Dance Event se reserva el derecho de, en cualquier momento, y ocasionalmente, modificar, suspender o suprimir, temporal o permanentemente, los servicios (o cualquier parte relacionada) por cualquier motivo o sin motivo alguno, con o sin aviso. Aceptas que E Dance Event no será responsable ante ti o ante otra parte de ninguna modificación, suspensión o supresión de los Servicios.

        E Dance Event, a su sola discreción, puede cancelar tu contraseña, cuentas (o cualquier parte relacionada) y/o tu derecho de usar los servicios y eliminar y descartar todo tu contenido en los servicios, en cualquier momento y por cualquier motivo o sin motivo alguno, incluyendo, sin limitación, la falta de uso, el incumplimiento del pago oportuno de cualquier tasa u otros fondos adeudados a E Dance Event, o si E Dance Event cree que has infringido o actuado de forma incoherente con la letra o espíritu de estos TCS. Aceptas que cualquier cancelación de tu derecho de usar los servicios puede realizarse sin previo aviso, y reconoces y aceptas que E Dance Event puede desactivar o eliminar inmediatamente tu cuenta, así como todo el contenido y los archivos relacionados con tu cuenta y/o bloquear cualquier acceso adicional a dichos archivos o a los Servicios. Además, aceptas que E Dance Event no será responsable ante ti o ante otra parte de cualquier cancelación de tu derecho a usar o, de otro modo, acceder a los servicios. Todas las disposiciones de estos TCS que, por naturaleza, deben permanecer vigentes tras la finalización de tu derecho a usar los Servicios, perdurarán (incluidas, sin limitación, todas las limitaciones sobre la responsabilidad, las exenciones, las obligaciones de indemnización, la exclusión de garantías, y las licencias y protecciones de la propiedad intelectual).<br>

        8. INDEMNIZACIÓN<br>
        Aceptas defender, indemnizar y liberar de responsabilidades a E Dance Event, a sus afiliados y a cada uno de sus oficiales, directores, agentes, socios de marca compartida, otros socios y empleados respectivos de todos los daños (ya sean directos, indirectos, fortuitos, derivados o de otro tipo), pérdidas, responsabilidades, costes y gastos (incluidas, sin limitación, las tasas de contabilidad y abogados razonables) que resulten de cualquier reclamación, demanda, acción, procedimiento (ya sea ante un árbitro, tribunal, mediador u otro) o investigación realizada por cualquier tercera parte (cada una es una “Reclamación”) debida a o que surja de: tu Contenido; los eventos enumerados en el Servicio; tu uso de, contribución a o relación con el Servicio; tu infracción de estos TCS; y/o tu infracción de cualquier derecho de otra persona. E Dance Event deberá notificarte cualquier reclamación de ese tipo, siempre que tus obligaciones aquí estipuladas no se vean limitadas si E Dance Event no realizara la notificación o tardará en hacerlo. E Dance Event se reserva el derecho de asumir la defensa exclusiva y controlar cualquier asunto sujeto a indemnización conforme a esta sección y, en tal caso, aceptas cooperar con todas las solicitudes razonables para asistir la defensa de E Dance Event de dicho asunto.<br>

        9. GARANTÍAS DE LOS SERVICIOS Y LIMITACIÓN DE RESPONSABILIDAD<br>
        Los servicios se ofrecen “tal cual” y “sujetos a disponibilidad”. Por la presente, E Dance Event renuncia expresamente a todas las garantías de cualquier tipo, explícitas o implícitas, incluidas, sin limitación, las garantías implícitas de comercialización, título, no infracción e idoneidad para un fin determinado. E Dance Event no garantiza que: (i) los servicios satisfagan tus requisitos, (ii) los servicios no se interrumpan, sean oportunos, seguros o no presenten errores, (iii) los resultados que se puedan obtener del uso de los servicios sean precisos o fiables, (iv) la calidad, seguridad o legalidad de cualquier contenido, producto, servicio, información u otro material adquirido u obtenido por ti, o los eventos a los que has asistido a través de los servicios o los servicios mismos (o cualquier parte de los mismos), cumplan tus expectativas, o (v) cualquier error en los servicios se corrija. E Dance Event no es responsable ni tendrá ninguna responsabilidad por el contenido, los productos, los servicios, las acciones o las inacciones de cualquier usuario, participante u otro no organizador, organizador o tercero, antes, durante y/o después de un evento; y E Dance Event no será responsable respecto a ninguna de las garantías renunciadas en los puntos (i) a (v) anteriores.

        Reconoces que E Dance Event no garantiza ni tiene control sobre la calidad, la seguridad o la legalidad de los eventos promocionados, la autenticidad o la precisión del contenido y los listados de cualquier usuario (incluidos los de participantes, otros no organizadores y organizadores) o la capacidad de cualquier usuario (incluidos participantes, otros no organizadores y organizadores) de realizar o completar de hecho una transacción. Las renuncias anteriores no se aplicarán en la medida prohibida por la ley vigente. Sin perjuicio de lo anterior, puedes notificar la conducta inapropiada de usuarios, participantes, otros no organizadores, organizadores y/o terceros en relación con el sitio o cualquier servicio a E Dance Event. E Dance Event, a su sola discreción, puede investigar la reclamación y tomar las medidas necesarias.

        E Dance Event no se considerará responsable bajo ninguna circunstancia o bajo ninguna teoría legal, ya sea por un acto ilícito, por contrato o de otro modo, en relación con los servicios o cualquier otro asunto de estos términos de servicio, por: (i) cualquier daño indirecto, fortuito, especial, consecuente, punitivo o ejemplar, incluidos, sin limitación, los daños por pérdida de beneficios, buena fe, uso, datos u otras pérdidas intangibles (incluso si se ha notificado a E Dance Event la posibilidad de tales daños), (ii) el coste de la adquisición de servicios sustitutivos, (iii) los importes que superen en 100 USD en total para todas las reclamaciones en relación con los servicios, o (iv) cualquier asunto que se escape al control razonable de E Dance Event. E Dance Event no tendrá ninguna responsabilidad con respecto a tu contenido o cualquier contenido de otro usuario de los servicios. Además, E Dance Event no está afiliado, ni mantiene una relación de representación o de empleo con ningún proveedor de servicios de terceros utilizado junto con los servicios (incluido, sin limitación, cualquier servicio de pasarela de pagos) y E Dance Event no es responsable de, y por la presente, renuncia a toda responsabilidad que surja de, los actos u omisiones de cualquiera de dichos proveedores de servicios de terceros. Las limitaciones anteriores no se aplicarán en la medida prohibida por la ley vigente.<br>

        10. EXONERACIÓN<br>
        En contraprestación por poder acceder y usar los servicios, por la presente, aceptas exonerar a E Dance Event, sus afiliados y a todos y cada uno de sus respectivos oficiales, directores, agentes, socios de marca compartida, otros socios y empleados de todos los daños (ya sean directos, indirectos, fortuitos, consecuentes o de otro tipo), pérdidas, responsabilidades, costes y gastos de todo tipo y naturaleza, conocidos y desconocidos, que surjan de o relacionados de algún modo con disputas entre tú y terceros (incluidos otros organizadores, participantes y otros no organizadores) en relación con los servicios, tu acceso y el uso de los servicios o cualquier evento indicado que de los mismos se deriven.<br>

        11. USO DE MARCAS COMERCIALES<br>
        Las marcas comerciales, marcas de servicio y logotipos de E Dance Event, denominadas marcas comerciales de E Dance Event, utilizadas y mostradas en relación con los servicios son marcas comerciales o marcas de servicio de E Dance Event registradas y no registradas. Otros nombres de empresas, productos y servicios utilizados en relación con los servicios pueden ser marcas comerciales o de servicio propiedad de terceros, denominadas marcas comerciales de terceros y, junto con las marcas comerciales de E Dance Event se denominarán marcas comerciales”.

        La oferta de los servicios no debe constituir la concesión, por implicación, impedimento o de otro modo, de licencia o derecho algunos para usar cualquier marca comercial mostrada en relación con los servicios sin el consentimiento previo por escrito de E Dance Event específico para cada uso. Las marcas comerciales no pueden utilizarse para menospreciar a E Dance Event, a cualquier tercera parte o a los productos o servicios de E Dance Event o un tercero, o de cualquier forma (a juicio exclusivo de E Dance Event) que pueda dañar cualquier buena fe en las marcas comerciales. El uso de cualquier marca comercial como parte de un enlace a o desde cualquier sitio está prohibido salvo que E Dance Event apruebe el establecimiento de dicho enlace mediante consentimiento previo por escrito para cada enlace. Toda la buena fe generada a partir del uso de cualquier marca comercial de E Dance Event redundará en beneficio de E Dance Event.
      </p>
    </div>
</ion-content>
