<ion-content class="content">

  <div class="login-screen">
    <ion-row>
      <ion-col class="logo-container">
        <img class="ede-logo" src="assets/images/logo-ede.png" alt="EDE">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="form-container">
        <ion-list>

          <ion-item>
            <ion-input placeholder="Correo" type="text" [(ngModel)]="username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password" ></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="buttons-container">
      <button (click)="login()">Ingresar</button>
      <button (click)="goToSignUp()">Registro</button>
    </ion-row>

    <ion-row class="forgot-password">
      <p class="light-text" (click)="goToRecovery()">¿Olvidaste tu contraseña?</p>
    </ion-row>

  </div>

</ion-content>
