<ion-content class="content">
    <div class="signup-screen">
        <ion-row>
            <ion-col class="logo-container">
                <img class="ede-logo" src="assets/images/signup-login.png" alt="EDE">
            </ion-col>
        </ion-row>

        <div class="user-form">
            <ion-row>
                <ion-item>
                    <ion-input type="text" placeholder="Nombre" name="name" [(ngModel)]="user.name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="text" placeholder="Apellidos" name="lastname" [(ngModel)]="user.lastname"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="text" placeholder="alguien@ejemplo.com" name="email" [(ngModel)]="user.email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="user.password"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="password" placeholder="Confirmar contraseña" name="password" [(ngModel)]="confirmPassword"></ion-input>
                </ion-item>
                <ion-item *ngIf="!isIos()">
                    <ion-label>Ciudad donde vives</ion-label>
                    <ion-select name="location" [(ngModel)]="user.location">
                        <ion-option value="{{city}}" *ngFor="let city of cities">{{city}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-row>
            <ion-row *ngIf="!isIos()">
                <ion-item>
                    <ion-label>Género</ion-label>
                    <ion-select name="gender" [(ngModel)]="user.gender">
                        <ion-option value="f">Femenino</ion-option>
                        <ion-option value="m">Masculino</ion-option>
                        <ion-option value="o">Otro</ion-option>
                    </ion-select>
                </ion-item>
            </ion-row>
            <ion-item *ngIf="!isIos()">
                <ion-label>Edad</ion-label>
                <ion-select name="age" [(ngModel)]="user.age">
                    <ion-option *ngFor="let edad of ages" value="{{ edad }}">{{ edad }}</ion-option>
                </ion-select>
            </ion-item>
            <ion-row class="margin-top terminos">
                <ion-checkbox [(ngModel)]="termsChecked"></ion-checkbox>
                <p class="light-text" (click)="goToTerminos()">Acepto los <span>Términos y Condiciones.</span></p>
            </ion-row>
            <ion-row class="margin-top privacy">
                <ion-checkbox [(ngModel)]="privacyChecked"></ion-checkbox>
                <p class="light-text" (click)="goToPrivacyDataTreatment()">Acepto las <span>Políticas de Privacidad y Protección de Datos</span></p>
            </ion-row>
            <ion-row class="signup">
                <button (click)="signUp()">¡listo!</button>
            </ion-row>
        </div>
    </div>
</ion-content>
