user-signup {
    .content {
        background: radial-gradient(#4A04A0, #18003F);
        .signup-screen {
            .logo-container {
                height: 12em;
                text-align: center;
                .ede-logo {
                    width: 60%;
                    border-radius: 40%;
                }
            }
            .message {
                text-align: center;
                p {
                    margin: 0 auto;
                    width: 90%;
                }
                :first {
                    margin-top: 1em;
                }
            }
            .user-form {
                width: 90%;
                margin: 1em;
                p {
                   padding: 0;
                   margin: 0.4em !important;
                   font-size: 1.2em;
                }
                ion-item {
                    border-radius: 5px;
                    height: 1.5em !important;
                    margin-bottom: .5em;
                }
                .terminos, .privacy {
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    display: flex;
                    flex-wrap: nowrap;
                    ion-checkbox {
                        width: 15%;
                    }
                    span {
                        color: #33cccc;
                        text-decoration: underline;
                    }
                }
                .signup {
                    margin-top: 1.6em;
                    text-align: center;
                    button {
                        margin: 0 auto 0.3em auto;
                        font-size: 1em;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        background: linear-gradient(to right, #33cccc, #66ff99, #33cccc);
                        height: 3em;
                        color: #18003F;
                        border-radius: 10px;
                        width: 90%;
                    }
                }
            }
            ion-select {
                width: 100%;
            }
        }
    }
}
