page-event-detail {
  .container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    ion-card {
      width: 100%;
      margin: 0;
      padding: 0;
      transition: all .3s ease-out;
      .relativo {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        .image {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 50%;
          position: fixed;
          ion-icon {
            color: white;
            font-size: 4em;
          }
        }
        .actions {
          height: 25%;
          background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0.6) 25%);
          width: 100%;
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: space-evenly;
          align-items: flex-end;
          img {
            margin-bottom: 1em;
          }
          .lista{
            width: 25px;
            height: 25px;
          }
          .compartir {
            width: 25px;
            height: 30px;
          }
          .volver {
            width: 17px;
            height: 20px;
            margin-bottom: 1.2em;
          }
          .remover {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
    .event-info-container {
      transition: all .3s ease-out;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 20px 40px;
      color: #2E3192;
      background: white;
      box-shadow: rgb(136, 136, 136) 0px -1px 10px;
      z-index: 99;
      h3 {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
        transition: font-size .4s ease-in;
        margin-bottom: 1em;
      }
      &-description {
        margin: 0;
        font-size: 1em;
        font-weight: 400;
        text-align: justify;
        overflow-y: scroll;
        p {
          font-weight: 400;
          margin: 0;
        }
        &-price {
          margin: 1em auto;
          display: flex;
          flex-direction: column;
          width: 80%;
          &-item, &-line-up, &-warnings {
            display: flex;
            .title {
              font-weight: bold;
              margin-right: 2em;
              text-transform: uppercase;
            }
            .value {
              display: flex;
              flex-direction: column;
              font-weight: 400;
              line-height: 20px;
              .inner-value {
                @extend .value;
                margin-bottom: 3px;
              }
            }
          }
          &-item {
            &:nth-child(1) {
              margin-top: 1em;
            }
          }

          .ticketing {
            display: flex;
            flex-direction: column;
            align-items: center;
            .title {
              margin: 0;
            }
            .inner-value {
              margin-bottom: 4px;
              &-sold-out {
                text-decoration: line-through;
              }
            }
          }

          &-line-up {
            margin-top: 1em;
            text-align: center;
            flex-direction: column;
            color: #C51F91;
            .title {
              margin-bottom: 3px;
              margin-right: 0;
            }
          }

          &-warnings {
            margin-top: 1em;
            text-align: center;
            align-items: center;
            color: #24CCE3;
            img {
              width: 50px;
              height: 50px;
              margin-right: 1em;
            }
            .title {
              margin-bottom: 3px;
              margin-right: 0;
            }
            .value {
              text-align: left;
            }
          }

          &-separator {
            width: 100%;
            height: 1px;
            background-color: #C51F91;
            margin: .5em 0;
          }
        }
      }
      .show-details {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img {
          height: 25px;
          width: 25px;
        }
      }
    }
    .actions-container {
      transition: all .3s ease-out;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 1;
      div.opt {
        width: 100%;
        text-transform: uppercase;
        font-size: 1.1em;
        letter-spacing: 3px;
        text-align: center;
        padding: 15px;
      }
      .btn-compra {
        transition: all .3s ease-out;
        background: -webkit-linear-gradient(left, #210a5c 0%, #3c1798 50%, #210a5c 100%);
        color: white;
        overflow: hidden;
        z-index: 1;
        .content {
          margin-top: 1em;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: rgb(154, 0, 164);
          .separator {
            width: 90%;
            height: 2px;
            background-color: rgb(154, 0, 164);
          }
          .info {
            margin: 1em;
          }
          .tickets-container {
            margin-top: 1em;
            button {
              margin: 0 auto 0.3em auto;
              font-size: 1em;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 3px;
              background: linear-gradient(to bottom, #4A00AA, #18003F);
              height: 3em;
              color: white;
              border-radius: 2px;
            }
            img {
              width: 240px;
              margin: 2em 0 0 0;
            }
          }
        }
      }
      .btn-beneficios {
        transition: all .3s ease-out;
        background: white;
        color: #2E3192;
        overflow: hidden;
        .benefits {
          display: flex;
          flex-direction: column;
          margin-top: 2em;
          padding: 0 5px;
          .item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 5px;
            margin-bottom: 2em;
            .guestlistSub {
              color: #24CCE3;
              margin-top: .5em;
            }
            .guestlistText {
              font-weight: bold;
            }
            img {
              width: 40px;
              height: 40px;
              margin-right: 1em;
            }
            .separator {
              height: 50px;
              width: 1px;
              background-color: #2E3192;
            }
            .text {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              text-align: initial;
              margin-left: 1em;
              font-size: 1em;
              text-transform: none;
              letter-spacing: 1px;
            }
            .text-special {
              font-size: .8em;
              justify-content: flex-start;
              .points {
                font-size: 2.2em;
                margin: 5px 0;
              }
            }
          }
        }
      }
    }
  }
}