<ion-content>
  <div class="container">
    <ion-card *ngIf="eventToShow" [ngStyle]="{ 'height': cardHeight}">
      <div class="relativo">
          <img (click)="resetView()" [src]="getSafeImage(eventToShow['imageSrc'])" class="image">
          <div class="actions" *ngIf="showActions">
            <img (click)="goBack()" class="volver" src="assets/images/event-detail/volver.png" alt="">
            <img 
              [ngStyle]="{'animation': showRotateLike ? 'rotateLike 300ms' : ''}" 
              (click)="addToMyList()" 
              class="lista" 
              *ngIf="!eventToShow.onMyList"
              src="assets/images/event-detail/lista.png">
            <img
              [ngStyle]="{'animation': showRotateLike ? 'rotateLike 300ms' : ''}" 
              (click)="removeFromList()" 
              class="remover" 
              *ngIf="eventToShow.onMyList"
              src="assets/images/home/remover.png">
            <!--<img (click)="shareEvent()" class="compartir" src="assets/images/event-detail/compartir.png" alt="">-->
          </div>
      </div>
    </ion-card>
    <div class="event-info-container" (click)="openInfo()" [ngStyle]="{ 'height': eventInfoHeight}">
      <h3 [ngStyle]="{ 'font-size': titleSize }">
        {{ eventToShow['name'] }}
      </h3>
      <div class="event-info-container-description" *ngIf="showDescription">
        <p>{{ eventToShow.description?.charAt(0).toUpperCase() + eventToShow.description?.toLowerCase().slice(1) }}</p>
        <div class="event-info-container-description-price">
          <div class="event-info-container-description-price-item">
            <span class="title">Fecha</span>
            <span class="value"> {{eventToShow.showDate?.toUpperCase()}} </span>
          </div>
          <div class="event-info-container-description-price-separator"></div>
          <div class="event-info-container-description-price-item">
            <span class="title">Lugar</span>
            <span class="value">{{ eventToShow.location?.address }}</span>
          </div>
          <div class="event-info-container-description-price-separator"></div>
          <div class="event-info-container-description-price-item ticketing">
            <span class="title" *ngIf="eventToShow.eventType == 'payment'">Precio</span>
            <span class="title" *ngIf="eventToShow.eventType == 'free'">Evento gratuito</span>
            <div class="value" *ngIf="eventToShow.eventType == 'payment'">
              <span 
              class="inner-value" 
              *ngFor="let ticket of eventToShow.tickets">
                <ng-container *ngIf="ticket.amount_available == ticket.amount_sold">
                  <span class="inner-value-sold-out">{{ticket.name}}: Desde {{ formatDate(ticket.start_date)}} Hasta {{ formatDate(ticket.end_date )}} | {{ticket.price | currency:'COP':'':'3.0-0'}}</span> * SOLD OUT *
                </ng-container>
                <ng-container *ngIf="ticket.amount_available != ticket.amount_sold">
                  {{ticket.name}}: Desde {{ formatDate(ticket.start_date)}} Hasta {{ formatDate(ticket.end_date )}} | {{ticket.price | currency:'COP':'':'3.0-0'}}
                </ng-container>
              </span>
            </div>
          </div>
          <div class="event-info-container-description-price-line-up">
            <span class="title">DJ's Line Up</span>
            <span class="value">{{ eventToShow.lineUp }}</span>
          </div>
          <div class="event-info-container-description-price-line-up" *ngIf="eventToShow.vjLineUp">
            <span class="title">VJ's Line Up</span>
            <span class="value">{{ eventToShow.vjLineUp }}</span>
          </div>
          <div class="event-info-container-description-price-line-up">
            <span class="title">Organiza</span>
            <span class="value">{{ eventToShow.signature }}</span>
          </div>
          <div class="event-info-container-description-price-warnings" *ngIf="eventToShow.warnings != ''">
            <img src="assets/images/event-detail/aviso.png" alt="">
            <span class="value">{{ eventToShow.warnings?.charAt(0).toUpperCase() + eventToShow.warnings?.toLowerCase().slice(1) }}</span>
          </div>
        </div>
      </div>
      <!--<div class="show-details" (click)="openInfo()">
        <img src="assets/images/home/up.png" alt="" [@viewMoreAnimation]="viewMoreState">
      </div>-->
    </div>
    <ion-row class="actions-container" [ngStyle]="{ 'height': actionsContainerHeight}">
      <div class="opt btn-beneficios" (click)="openBenefits()" [ngStyle]="{ 'height': beneficiosHeight}">
        <span>Beneficios</span>
        <div class="benefits">
          <div class="item" *ngIf="eventToShow['benefits']">
            <img src="assets/images/beneficios/mujeresFree.png" alt="">
            <div class="separator"></div>
            <div class="text">
              <span>{{ eventToShow.benefits?.charAt(0).toUpperCase() + eventToShow.benefits?.toLowerCase().slice(1) }}</span>
            </div>
          </div>
          <div class="item" *ngIf="eventToShow.guestlist == 1 && eventToShow.guestlistQuantity > eventToShow.guestlistUsers.length">
            <img src="assets/images/beneficios/guestList.png" alt="">
            <div class="separator"></div>
            <div class="text">
              <span class="guestlistText">Lista disponible</span>
              <span class="guestlistSub" *ngIf="!inGuestList" (click)="requestGuestlistInfo()">Suscribirme a la lista</span>
              <span class="guestlistSub" *ngIf="inGuestList">¡Estas en lista!</span>
            </div>
          </div>
          <div class="item" *ngIf="eventToShow.guestlistQuantity == eventToShow.guestlistUsers?.length">
            <img src="assets/images/beneficios/guestList.png" alt="">
            <div class="separator"></div>
            <div class="text">
              <span class="guestlistText">Lista disponible</span>
              <span class="guestlistSub">Se agotaron los registros por lista :(</span>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/beneficios/puntos.png" alt="">
            <div class="separator"></div>
            <div class="text text-special">
              <span>Pronto podrás acumular puntos por tus compras</span>
            </div>
          </div>
        </div>
      </div>

      <div class="opt btn-compra" (click)="openTicket()" [ngStyle]="{ 'height': ticketHeight}" *ngIf="eventToShow.eventType == 'payment'">
        <span>Comprar ticket</span>
        <div class="content">
          <div class="separator" *ngIf="ticketOpened"></div>
          <div class="tickets-container">
            <img src="assets/images/tickets/miTicket.png" (click)="goToCheckout()" alt="">
            <img src="assets/images/tickets/ticketAmigo.png" (click)="showAlertForFriendTicket()" alt="">
          </div>
        </div>
      </div>

      <div class="opt btn-compra" (click)="requestFreeTicketData()" [ngStyle]="{ 'height': ticketHeight}" *ngIf="eventToShow.eventType == 'free' && !eventToShow.qr">
        <span>Reclamar ticket</span>
      </div>

      <div class="opt btn-compra" [ngStyle]="{ 'height': ticketHeight}" (click)="goToQrPage()" *ngIf="eventToShow.eventType == 'free' && eventToShow.qr">
        <span>Ya tienes tu ticket!</span>
      </div>

      <div class="opt btn-compra" *ngIf="eventToShow.eventType == 'promotional'" (click)="showPromotionalAlert()" [ngStyle]="{ 'height': ticketHeight}">
        <span>Evento promocional</span>
      </div>

    </ion-row>
  </div>
</ion-content>
