<ion-header>
    <ion-row class="topbanner-container">
        <ion-col col-1 class="return">
            <img src="assets/images/event-detail/volver.png" (click)="goBack()" alt="">
        </ion-col>
        <ion-col col-4 class="logo">
            <img src="assets/images/home/logoSuperior.png" alt="">
        </ion-col>
        <ion-col col-2 class="perfil">
            <img src="assets/images/home/logo-perfil.png" alt="">
        </ion-col>
        <ion-col col-5 class="list">
            <span>MIS TICKETS</span>
        </ion-col>
    </ion-row>
</ion-header>


<ion-content>
    <div class="row main">
        <div class="left-image">
            <img src="assets/images/settings/date-filter.png" alt="">
        </div>
        <div class="list-container">
            <div class="list-item" *ngFor="let ticket of myTickets">
                <div class="image-container">
                    <img src="{{ ticket.imageSrc }}" alt="">
                </div>
                <div class="content-container">
                    <div class="title-actions">
                        <div class="title">
                            <span>{{ ticket.name | reducestr: 20:true}}</span>
                        </div>
                        <div class="separator"></div>
                        <!--<div class="title-action">X</div>-->
                    </div>
                    <div class="action">
                        <span (click)="goToTicket(ticket)">Ver ticket</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
