page-qr-viewer {
    ion-header {
        .topbanner-container {
            img {
                margin-top: 5px;
                height: 35px;
            }
            .return {
                background-color: #18003F;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 40%;
                    width: 90%;
                }
            }
            .logo {
                background-color: #18003F;
            }
            .perfil {
                background: linear-gradient(to left, #4A00AA, #18003F);
            }
            .list {
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(to right, #4A00AA, #18003F);
                span {
                    color: white;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }
            }
        }
        box-shadow: 0 12px 75px #18003F;
    }
    ion-content {
        height: 100%;
        ion-card {
            height: 95%;
            margin-top: 1em;
            ion-card-header {
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 5px;
                height: 35%;
                img.event-img, ngx-qrcode {
                    width: 50%;
                    height: 140px;
                }
            }
            
            ion-card-content {
                margin-top: 1em;
                display: flex;
                flex-direction: column;
                position: relative;
                padding: 0 !important;
                margin: 0 !important;
                height: 70%;
                p.info {
                    margin-left: 2em;
                    text-align: center;
                    color: #5A18AF;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 1em;
                }
                p.warning {
                    font-size: 0.7em;
                    font-weight: bold;
                    position: absolute;
                    text-align: center;
                    color: black;
                    bottom: 25px;
                }
                div.advice {
                    font-size: 1.2em;
                    color: gray;
                    letter-spacing: 2px;
                    border-radius: 15px;
                    -webkit-transform: rotate(20deg);
                    transform: rotate(-89deg);
                    opacity: 0.4;
                    width: 15em;
                    position: absolute;
                    left: -110px;
                    bottom: 225px;
                }
                img {
                    position: absolute;
                    opacity: .3;
                    bottom: -40px;
                }
            }
        }
        h1 {
            margin-top: 2em;
        }
    }
}
