<ion-header>
  <ion-row class="topbanner-container">
      <ion-col col-1 class="return">
          <img src="assets/images/event-detail/volver.png" (click)="goBack()" alt="">
      </ion-col>
      <ion-col col-4 class="logo">
          <img src="assets/images/home/logoSuperior.png" alt="">
      </ion-col>
      <ion-col col-2 class="perfil">
          <img src="assets/images/home/logo-perfil.png" alt="">
      </ion-col>
      <ion-col col-5 class="list">
          <span>CONFIRMACION</span>
      </ion-col>
  </ion-row>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <img class="event-img" src="{{ eventToShow?.imageSrc }}" alt="">
      <ngx-qrcode [qrc-value]="qrValue"></ngx-qrcode>
    </ion-card-header>
    <ion-card-content>
      <p class="info">{{eventToShow?.name}}</p>
      <p class="info">Fecha: {{ eventToShow?.showDate}}</p>
      <p class="info">Lugar: {{ eventToShow?.location.address}}</p>
      <p class="info">Código: {{ eventToShow?.qr }}</p>
      <img src="assets/images/icon_gradient.png" alt="">
      <div class="advice">VALIDO PARA 1 INGRESO</div>
      <p class="warning">Recuerda que tu ticket es personal, debes cuidarlo y no enviarlo como imagen.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
