<ion-header>
    <ion-row class="topbanner-container">
        <ion-col col-1 class="return">
            <img src="assets/images/event-detail/volver.png" (click)="goBack()" alt="">
        </ion-col>
        <ion-col col-4 class="logo">
            <img src="assets/images/home/logoSuperior.png" alt="">
        </ion-col>
        <ion-col col-2 class="perfil">
            <img src="assets/images/home/logo-perfil.png" alt="">
        </ion-col>
        <ion-col col-5 class="list">
            <span>MI LISTA</span>
        </ion-col>
    </ion-row>
</ion-header>


<ion-content>
    <div class="row main">
        <div class="left-image">
            <img src="assets/images/settings/date-filter.png" alt="">
        </div>
        <div class="list-container">
            <div class="list-item" *ngFor="let event of events">
                <div class="image-container" (click)="goToEventDetail(event)">
                    <img src="{{ event.imageSrc }}" alt="">
                </div>
                <div class="content-container">
                    <div class="title-actions" (click)="goToEventDetail(event)">
                        <div class="title">
                            <span>{{ event.name | reducestr: 30:true }}</span>
                        </div>
                        <div class="separator"></div>
                        <div class="title-action" (click)="removeFromList(event)">X</div>
                    </div>
                    <div class="action" *ngIf="event.eventType == 'payment'">
                        <span (click)="goToCheckout(event)">Comprar</span>
                    </div>
                    <div class="action" *ngIf="event.eventType == 'free'">
                        <span (click)="goToCheckout(event)">Reclamar ticket</span>
                    </div>
                    <div class="action" *ngIf="event.eventType == 'promotional'">
                        <span>Evento promocional</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
