page-my-list {
    ion-header {
        box-shadow: 0 12px 75px #18003F;
        .topbanner-container {
            height: 4em;
            img {
                margin-top: 5px;
                height: 35px;
            }
            .return {
                background-color: #18003F;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 40%;
                    width: 90%;
                }
            }
            .logo {
                background-color: #18003F;
            }
            .perfil {
                background: linear-gradient(to left, #4A00AA, #18003F);
            }
            .list {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #18003F;
                span {
                    color: white;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }
            }
        }
    }
    ion-content {
        .main {
            height: 100%;
            width: 100%;
            background: linear-gradient(to right, #18003F, #5A18AF);
            display: flex;
            overflow: scroll;
            .left-image {
                width: 15%;
                height: 90%;
                border-right: 1px solid white;
                img {
                    margin-top: 2em;
                }
            }
            .list-container {
                width: 84.5%;
                padding-top: 2em;
                padding-right: .5em;
                .list-item {
                    width: 100%;
                    height: 100px;
                    margin-bottom: 1em;
                    display: flex;
                    background-color: #A080C5;
                    .image-container {
                        width: 30%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        border-right: 1px dashed black;
                        img {
                            height: 85px;
                            width: 100%;
                        }
                    }
                    .content-container {
                        width: 70%;
                        height: 100%;
                        .title-actions {
                            width: 100%;
                            display: flex;
                            height: 60%;
                            span {
                                color: #060032;
                            }
                            .title {
                                padding: 10px;
                                width: 80%;
                            }
                            .separator {
                                height: 100%;
                                width: 1px;
                                border-right: 1px dashed  black;
                            }
                            .title-action {
                                width: 20%;
                                padding: 10px;
                                text-align: center;
                            }
                        }
                        .action {
                            background: linear-gradient(-90deg, #C51F91, #6605C4);
                            padding: 15px;
                            font-weight: bold;
                            text-transform: uppercase;
                            width: 100%;
                            height: 40%;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
