ede-home {
    position: relative;
    ion-header {
        .topbanner-container {
            height: 4em;
            .logo {
                background-color: #18003F;
                img {
                    margin-top: 5px;
                    height: 35px;
                }
            }
            .perfil {
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(to left, #4A00AA, #18003F);
                img {
                    width: 30px;
                    height: 30px;
                }
            }
            .login {
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(to left, #4A00AA, #18003F);
                button {
                    width: 80%;
                    margin: 0 auto;
                    height: 2.5em;
                    margin-top: .3em;
                    color: white;
                    border: 1px solid white;
                    background: #18003F;
                    border-radius: 5px;
                    box-shadow: 0px 1px 6px white;
                    text-transform: uppercase;
                }
            }
            .filtroFecha {
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(-90deg, #C51F91, #6605C4);
                flex-direction: column;
                color: white;
                img {
                    width: 30px;
                    height: 30px;
                }
            }
            .filtroCiudad {
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(to left, #24CCE3, #74F5A8);
                img {
                    width: 30px;
                    height: 30px;
                }
            }
            .filtroGenero {
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(-90deg, #6EE300, #FFFF63);
                text-align: center;
                img {
                    width: 32px;
                    height: 30px;
                }
            }
        }
        ion-searchbar {
            padding: 0 !important;
            border-radius: 5% !important;
        }
        ion-slides {
            ion-slide {
                .info-container {
                    display: flex;
                    height: 100px;
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    bottom: 0;
                    width: 100%;
                    color: white;
                    background: linear-gradient(to right, #4A00AA, #C51F91);
                    .prev, .next {
                        width: 10%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 30px;
                            height: 45px;
                            padding: 5px;
                        }
                    }
                    .info {
                        height: 100%;
                        width: 90%;
                        padding: 10px;
                        h2 {
                            margin: 0;
                            font-weight: bold;
                            font-size: 1em;
                            text-transform: uppercase;
                        }
                        p {
                            margin: 0;
                            font-size: .9em;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
        box-shadow: 0 12px 75px #18003F;
    }
    
    .content {
        .scroll-content {
            margin-top: 96px
        }
        ion-slides {
            height: 225px !important;
            position: relative;
            .slide-zoom{
                height: 100% !important;
            }
            ion-slide {
                height: 100% !important;
                img {
                    height: 100%;
                    width: 100%;
                }
                .info-container {
                    display: flex;
                    height: 100px;
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    bottom: 0;
                    width: 100%;
                    color: white;
                    background: linear-gradient(to right, #4A00AA, #C51F91);
                    .prev, .next {
                        width: 10%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 30px;
                            height: 45px;
                            padding: 5px;
                        }
                    }
                    .info {
                        height: 100%;
                        width: 90%;
                        padding: 10px;
                        h2 {
                            margin: 0;
                            font-weight: bold;
                            font-size: 1em;
                            text-transform: uppercase;
                        }
                        p {
                            margin: 0;
                            font-size: .9em;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
        background-color: #E4E4E4;
        .main {
            position: absolute;
            margin-top: 1em;
            ion-list {
                width: 100%;
                margin: 0;
                .event {
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    margin-bottom: 0.5em;
                    height: 120px;
                    background-color: white;
                    box-shadow: 0px 2px 5px grey;
                    img {
                        width: 35%;
                        height: 100%;
                    }
                    .description {
                        display: flex;
                        flex-direction: column;
                        word-wrap: break-word;
                        align-items: flex-start;
                        width: 55%;
                        height: 100%;
                        color: #1B1464;
                        border-right: 1px dashed #1B1464;
                        h2 {
                            margin: 10px 0 0 1em;
                            font-size: 1em;
                            font-weight: bold; 
                        }
                        p {
                            max-width: 85%;
                            font-weight: 400;
                            text-align: justify;
                            font-size: .9em;
                            margin: 1em 0 0 1em;
                        }
                    }
                    
                    .actions {
                        height: 100%;
                        width: 10%;
                        margin-top: .5em;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        img {
                            margin-left: -2px;
                            width: 20px;
                            height: 20px;
                        }
                        .agregar, .comprar {
                            width: 100%;
                            height: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .comprar {
                            border-bottom: 1px dashed #1B1464;
                        }
                    }
                }
            }
        }
        .center {
            width: 95%;
            margin: 2em auto 0 auto;
            height: 95%;
        }
        
        .setting {
            width: 100%;
            height: 100%;
            margin-left: 0.6em;
            position: fixed;
            z-index: 99;
        }
        .profile-settings {
            background-color: #18003F;
            img {
                height: 15em;
                width: 15em;
                position: relative;
                top: 55%;
                bottom: 10em;
                left: 30%;
            }
        }
        .date-filter {
            background: url("../assets/images/settings/date-filter.png") no-repeat;
            background-size: cover;
            background-position-y: -50px;
        }
        .location-filter {
            background: url("../assets/images/settings/location-filter.png") no-repeat;
            background-size: cover;
            background-position-y: -50px;
        }
        .gender-filter {
            background: url("../assets/images/settings/gender-filter.png") no-repeat;
            background-size: cover;
            background-position-y: -50px;
        }
    }
}

.banner-container {
    position: fixed;
    height: 4.5em;
    bottom: 0;
    background: #D7DDDE;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}

div.menu {
    position: absolute;
    bottom: 0;
    height: 93%;
    right: 0;
    z-index: 99;
}

div.menu.settup {
    background: linear-gradient(rgba(24, 0, 63, 0.9), rgba(74, 0, 170, 0.9));
    transition: all 0.25s ease-in-out;
    width: 98%;
    overflow: scroll;
    div.header {
        background: none;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        .title {
            width: 65%;
            display: flex;
            padding-right: 2em;
            padding-top: 5px;
            img {
                width: 30px;
                height: 40px;
            }
            .text {
                color: white;
                text-align: initial;
                h2 {
                    text-transform: uppercase;
                    font-size: 1.2em;
                    font-weight: bold;
                    letter-spacing: 3px;
                    line-height: 20px;
                    margin: 0;
                }
            }
        }
    }
    div.content {
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        background: none;
        .item {
            display: flex;
            align-items: center;
            height: 70px;
            border-bottom: 1px solid white;
            width: 90%;
            margin: 0 auto;
            img {
                width: 40px;
                height: 45px;
                margin-right: 1em;
            }
            h2 {
                font-size: 1.2em;
                letter-spacing: 3px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        .item-special {
            display: flex;
            width: 90%;
            margin: 0 auto;
            font-weight: 200 !important;
            border-bottom: 1px solid white;
            .user-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px;
                font-weight: 200;
                width: 50%;
                .short-name {
                    font-weight: 200;
                    font-size: 2em;
                    margin-bottom: 10px;
                }
                .large-name, .id {
                    font-weight: 200;
                }
            }
            .separator {
                background: white;
                width: 1px;
                margin: 0 1em;
            }
            .user-menu {
                margin-top: 1em;
                ul {
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    list-style: none;
                    li {
                        font-weight: 200;
                        margin-bottom: 2em;
                    }
                }
            }
        }
        .app-menu {
            ul {
                margin-top: 1em;
                list-style: none;
                li {
                    font-weight: 200;
                    margin-bottom: 2em;
                }
            }
        }
        .close-session {
            width: 90%;
            margin: 1em;
            text-transform: uppercase;
            font-size: 1.2em;
            letter-spacing: 3px;
        }
    }
    img.logo {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 300px;
    }
}

div.menu.date {
    background: linear-gradient(to right, rgba(197, 31, 145, 0.9), rgba(102, 5, 196, 0.9));
    transition: all 0.25s ease-in-out;
    div.header {
        background: none;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        .title {
            width: 20%;
            display: flex;
            margin: 0 auto;
            padding-top: 5px;
            img {
                width: 30px;
                height: 40px;
            }
            .text {
                color: white;
                text-align: initial;
                h2 {
                    text-transform: uppercase;
                    font-size: 1.2em;
                    font-weight: bold;
                    letter-spacing: 3px;
                    line-height: 20px;
                    margin: 0;
                }
            }
        }
        
    }
    .content {
        width: 95%;
        margin: 2em auto 0 auto;
    }
    ion-row {
        margin-top: 2em;
        width: 100%;
        span {
            margin: 0 auto;
            color: white;
            text-transform: uppercase;
            text-decoration: underline;
            letter-spacing: 2px;
        }
        p {
            padding: 0 20px;
            margin: 0;
            color: white;
            text-align: center;
        }
    }
    img.logo {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 150px;
    }
}

div.menu.city {
    background: linear-gradient(rgba(36, 204, 227, 0.9), rgba(116, 245, 168, 0.9));
    transition: all 0.25s ease-in-out;
    overflow-y: scroll;
    div.header {
        background: none;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        .title {
            width: 42%;
            display: flex;
            padding-top: 5px;
            img {
                width: 30px;
                height: 40px;
            }
            .text {
                color: #18003F;
                text-align: initial;
                h2 {
                    text-transform: uppercase;
                    font-size: 1.2em;
                    font-weight: bold;
                    letter-spacing: 3px;
                    line-height: 20px;
                    margin: 0;
                }
            }
        }
    }
    img.logo {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 310px;
    }
    .content {
        width: 100%;
        padding: 10px;
        background: none;
        ul {
            list-style: none;
            li {
                font-size: 1.2em;
                font-weight: 600;
                text-decoration: none;
                text-transform: uppercase;
                color: #18003F;
                margin-bottom: 2.5em;
                letter-spacing: 3px;
            }
        }
    }
}

div.menu.gender {
    background: linear-gradient(rgba(78, 227, 49, 0.9), rgba(255, 255, 99, 0.9));
    transition: all 0.25s ease-in-out;
    overflow-y: scroll;
    div.header {
        background: none;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        .title {
            width: 30%;
            display: flex;
            padding-top: 5px;
            img {
                width: 30px;
                height: 40px;
            }
            .text {
                color: #18003F;
                text-align: initial;
                h2 {
                    text-transform: uppercase;
                    font-size: 1.2em;
                    font-weight: bold;
                    letter-spacing: 3px;
                    line-height: 20px;
                    margin: 0;
                }
            }
        }
    }
    .content {
        width: 100%;
        padding: 10px;
        background: none;
        ul {
            list-style: none;
            text-align: center;
            li {
                font-size: 1.2em;
                font-weight: 600;
                text-decoration: none;
                text-transform: uppercase;
                color: #18003F;
                margin-bottom: 2em;
                letter-spacing: 3px;
            }
        }
    }
    img.logo {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 300px;
    }
}