<ion-header>
    <ion-row class="topbanner-container">
        <ion-col col-4 class="logo" (click)="closeMenus();">
            <img src="assets/images/home/logoSuperior.png" alt="">
        </ion-col>
        <ng-container *ngIf="isLogged()">
            <ion-col col-2 class="perfil" (click)="settupMenu()">
                <img src="assets/images/home/logo-perfil.png" alt="">
            </ion-col>
            <ion-col col-2 class="filtroFecha" (click)="dateMenu()">
                <img src="assets/images/home/logo-filtroFecha.png" alt="" *ngIf="!dateRange">
                <span *ngIf="dateRange?.from != undefined">{{ fromDateFilter }}</span>
                <span *ngIf="dateRange?.from != undefined">{{ endDateFilter }}</span>
            </ion-col>
            <ion-col col-2 class="filtroCiudad" (click)="cityMenu()">
                <img *ngIf="selectedCity == 'Todas'" src="assets/images/home/logo-filtroCiudad.png" alt="">
                <span *ngIf="selectedCity != 'Todas'">{{ selectedCity.substr(0,3).toUpperCase() }}</span>
            </ion-col>
            <ion-col col-2 class="filtroGenero" (click)="musicalGenderMenu()">
                <img *ngIf="selectedGender == 'Todos'" src="assets/images/home/logo-filtroGenero.png" alt="">
                <span *ngIf="selectedGender != 'Todos'">{{ selectedGender.substr(0,3).toUpperCase() }}</span>
            </ion-col>
        </ng-container>
        <ng-container *ngIf="!isLogged()">
            <ion-col col-8 class="login">
                <button (click)="goToLogin()">Inicia sesión</button>
            </ion-col>
        </ng-container>
    </ion-row>
    <ion-searchbar
        [placeholder]="'Buscar'"
        (ionInput)="filterByName($event)">
    </ion-searchbar>
</ion-header>
<ion-content class="content" (swipe)="swipped($event)">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Desliza para refrescar"
            refreshingSpinner="circles"
            refreshingText="Recargando...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-row>
        <ion-slides *ngIf="topEvents && topEvents.length" [autoplay]="4000" [loop]="true">
            <ion-slide *ngFor="let evt of topEvents; let i = index ">
                <img src="{{ evt.imageSrc }}" (click)="goToEventDetail(evt)">
                <div class="info-container">
                    <div class="prev" (click)="goToPrev()">
                        <img src="assets/images/home/previous.png" alt="">
                    </div>
                    <div class="info" (click)="goToEventDetail(evt)">
                        <h2>{{evt.name | reducestr: 20:true }}</h2>
                        <p>{{ evt.description | reducestr: 70:true }}</p>
                    </div>
                    <div class="next" (click)="goToNext()">
                        <img src="assets/images/home/next.png" alt="">
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
    </ion-row>
    <div class="row main" *ngIf="!showEvent">
        <ion-list>
            <div class="event" *ngFor="let event of events">
                <img src="{{ event.imageSrc }}" alt="" (click)="goToEventDetail(event)">
                <div class="row description">
                    <h2 (click)="goToEventDetail(event)">{{ event.name | reducestr: 30:true }}</h2>
                    <p (click)="goToEventDetail(event)">{{ event.description | reducestr: 60:true }}</p>
                </div>
                <div class="actions">
                    <div class="comprar" *ngIf="event.eventType == 'payment' ">
                        <img src="assets/images/home/comprar.png" (click)="goToCheckout(event)" alt="">
                    </div>
                    <div class="agregar">
                        <img 
                            [ngStyle]="{'animation': event.showRotateLike ? 'rotateLike 300ms' : ''}" 
                            (click)="addToMyList(event)" 
                            class="lista" 
                            *ngIf="!event.onMyList"
                            src="assets/images/home/agregar.png">
                        <img
                            [ngStyle]="{'animation': event.showRotateLike ? 'rotateLike 300ms' : ''}" 
                            (click)="removeFromList(event)"
                            *ngIf="event.onMyList"
                            src="assets/images/home/remover.png">
                    </div>
                
                </div>
            </div>
        </ion-list>
    </div>
    
</ion-content>
<ion-footer class="banner-container">
    <img src="assets/gifs/EDE-banner-pauta-organizadores.gif" (click)="goToCheckout(occAnniversary)">
</ion-footer>
<div [ngStyle]="{ 'right': settupWidth }" class="menu settup">
    <div class="header">
        <div class="title">
            <img src="assets/images/home/settupLines.png" alt="">
            <div class="text">
                <h2>configu</h2>
                <h2>raciones</h2>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="item" (click)="toggleUserMenu()">
            <img src="assets/images/home/profile.png" alt="">
            <h2>Perfil</h2>
        </div>
        <div class="item-special" *ngIf="showUserMenu">
            <div class="user-info">
                <ngx-qrcode [qrc-value]="loggedUser._id"></ngx-qrcode>
                <span class="large-name">{{loggedUser.name}} {{loggedUser.lastname}}</span>
            </div>
            <div class="separator"></div>
            <div class="user-menu">
                <ul>
                    <li (click)="goToMyList()">Mi lista</li>
                    <li (click)="goToMyTickets()">Mis tickets</li>
                </ul>
            </div>
        </div>
        <div class="item" (click)="goToWebAdmin()">
            <img src="assets/images/home/create-event.png" alt="">
            <h2>Crear evento</h2>
        </div>
        <div class="item" (click)="toggleAppMenu()">
            <img src="assets/images/home/edancevent.png" alt="">
            <h2>E dance event</h2>
        </div>
        <div class="app-menu" *ngIf="showAppMenu">
            <ul>
                <li (click)="goToTerminos()">Terminos y condiciones</li>
                <li (click)="goToAbout()">Acerca de EDE</li>
            </ul>
        </div>
        <h3 class="close-session" (click)="logout()">Cerrar sesion</h3>
    </div>
</div>
<div [ngStyle]="{ 'width': dateWidth }" class="menu date">
    <div class="header">
        <div class="title">
            <div class="text">
                <h2>Fe</h2>
                <h2>cha</h2>
            </div>
            <img src="assets/images/home/settupLines.png" alt="">
        </div>
    </div>
    <ion-row>
        <p>Puede buscar sobre un rango de 2 fechas, o presione dos veces para buscar un día especifico</p>
    </ion-row>
    <div class="content">
        <ion-calendar [(ngModel)]="dateRange"
            (onChange)="assignDateFilters()"
            [options]="optionsRange"
            [type]="type"
            [format]="'YYYY-MM-DD'">
        </ion-calendar>
    </div>
    <ion-row>
        <span (click)="clearDates()">Limpiar fechas</span>
    </ion-row>
</div>
<div [ngStyle]="{ 'width': cityWidth }" class="menu city">
    <div class="header">
        <div class="title">
            <div class="text">
                <h2>Lu</h2>
                <h2>gar</h2>
            </div>
            <img src="assets/images/settings/arrows.png" alt="">
        </div>
    </div>
    <div class="content">
        <ul>
            <li 
                (click)="selectedCity = 'Todas'; closeMenus(); filterEvents();"
                [ngStyle]="{ 'border-bottom': selectedCity == 'Todas' ? '1px solid black' : 'none'}">Limpiar</li>
            <li 
                (click)="selectedCity = city; closeMenus(); filterEvents();"
                [ngStyle]="{ 'border-bottom': selectedCity == city ? '1px solid black' : 'none'}"
                *ngFor="let city of cities">{{ city }}
            </li>
        </ul>
    </div>
</div>
<div [ngStyle]="{ 'width': musicalGenderWidth }" class="menu gender">
    <div class="header">
        <div class="title">
            <div class="text">
                <h2>Géne</h2>
                <h2>ro</h2>
            </div>
            <img src="assets/images/settings/arrows.png" alt="">
        </div>
    </div>
    <div class="content">
        <ul>
            <li 
                [ngStyle]="{ 'border-bottom': selectedGender == 'Todos' ? '1px solid black' : 'none'}"
                (click)="selectedGender = 'Todos'; closeMenus(); filterEvents()">Limpiar</li>
            <li 
                [ngStyle]="{ 'border-bottom': selectedGender == gender ? '1px solid black' : 'none'}"
                *ngFor="let gender of musicalGenders"
                (click)="selectedGender = gender; closeMenus(); filterEvents()"> {{gender}}
            </li>
        </ul>
    </div>
</div>