@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/custom-fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/custom-fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

* {
    font-family: 'Roboto' !important;
}

.light-text {
    color: color($colors, light-text);
}

.margin-top {
    margin-top: .5em;
}

.ede-loader {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 80px;
        margin-bottom: 1em;
    }

    span {
        text-transform: uppercase;
        color: black;
        font-weight: bold;
    }
}

@keyframes rotateLike {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.0);
  }
}