<ion-header>
  <ion-row class="topbanner-container">
      <ion-col col-1 class="return">
          <img src="assets/images/event-detail/volver.png" (click)="goBack()" alt="">
      </ion-col>
      <ion-col col-4 class="logo">
          <img src="assets/images/home/logoSuperior.png" alt="">
      </ion-col>
      <ion-col col-2 class="perfil">
          <img src="assets/images/home/logo-perfil.png" alt="">
      </ion-col>
      <ion-col col-5 class="list">
          <span>CHECKOUT</span>
      </ion-col>
  </ion-row>
</ion-header>


<ion-content>
  <div class="container">
    <h2>{{eventToBuy['name']}}</h2>
    <h5>{{ currentTicketStage?.name }} Hasta: {{ currentTicketStage?.end_date | date }}</h5>
    <ion-card class="payment-info">
      <ion-card-header>
        Resumen de la compra
      </ion-card-header>
      <ion-card-content>
        <div class="item">
          <h3>Valor unidad: </h3>
          <h3>{{ currentTicketStage?.price | currency:'COP':'':'3.0-0' }}</h3>
        </div>
        <div class="item">
          <h3>Ticket Service: </h3>
          <h3>{{ TICKET_SERVICE | currency:'COP':'':'3.0-0' }}</h3>
        </div>
        <div class="item">
          <h3>Total a cobrar: </h3>
          <h3>{{ totalPrice | currency:'COP':'':'3.0-0' }}</h3>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-row class="payment-support">
      <h3>Pagos respaldados por: </h3>
      <div class="images">
        <img src="assets/images/logo-bancolombia.jpg" alt="">
      </div>
    </ion-row>
    <ion-card class="payment-data">
      <ion-card-header>
        Datos para la compra
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Tipo de documento</ion-label>
          <ion-select [(ngModel)]="userDocumentType">
            <ion-option value="CC">Cédula ciudadanía</ion-option>
            <ion-option value="CE">Cédula extranjería</ion-option>
            <ion-option value="PP">Pasaporte</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="border-bottom">
          <ion-label>Número de documento</ion-label>
          <ion-input [(ngModel)]="userDocument" type="number"></ion-input>
        </ion-item>
        <ion-item class="border-bottom">
          <ion-label>Número de celular</ion-label>
          <ion-input [(ngModel)]="userCellPhone" type="number"></ion-input>
        </ion-item>
        <ion-item class="payment-method">
          <ion-label>Selecciona el método de pago</ion-label>
          <ion-select [(ngModel)]="paymentMethod">
            <ion-option value="CREDIT_CARD">Tarjeta de crédito</ion-option>
            <ion-option value="PSE">PSE - Tarjeta débito</ion-option>
            <ion-option value="Cash">Efectivo (Gana, Efecty)</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="credit-cards" *ngIf="paymentMethod == 'CREDIT_CARD'">
          <ion-label>Tus tarjetas de crédito: </ion-label>
          <ion-select [(ngModel)]="creditCardSelected">
            <ion-option *ngIf="!availableCreditCards" value="">No tienes tarjetas</ion-option>
            <ion-option *ngIf="availableCreditCards" value="">Selecciona una</ion-option>
            <ion-option *ngFor="let card of availableCreditCards" [value]="card">{{ card.name }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="border-bottom" *ngIf="paymentMethod == 'CREDIT_CARD'">
          <span (click)="addNewCard = true" >+ Agregar nueva tarjeta</span>
        </ion-item>
        <ion-item class="bank-selection" *ngIf="paymentMethod == 'PSE'">
          <ion-label>Seleccione el banco</ion-label>
          <ion-select [(ngModel)]="bankName">
            <ion-option *ngFor="let bank of banksList" [value]="bank.bankCode">{{ bank.bankName }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="paymentMethod == 'Cash'">
          <ion-label>Seleccione la entidad</ion-label>
          <ion-select [(ngModel)]="cashType">
            <ion-option value="gana">Gana</ion-option>
            <ion-option value="efecty" *ngIf="totalPrice > 20000">Efecty</ion-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <div class="card-container" *ngIf="paymentMethod == 'CREDIT_CARD' && addNewCard"></div>
    <form card
      *ngIf="paymentMethod == 'CREDIT_CARD' && addNewCard"
      container=".card-container"
      card-width="280"
      [messages]="messages"
      [masks]="masks"
      formatting="true"
      debug="false">
    
      <input type="text" [(ngModel)]="cardNumber" [textMask]="{mask: masks.number}" placeholder="**** **** **** ****" name="number" card-number/>
      <input type="text" [(ngModel)]="cardName" placeholder="Nombre" name="name" card-name/>
      <input type="text" [(ngModel)]="cardExpiration" [textMask]="{mask: masks.expiry}" placeholder="01/24" name="expiry" card-expiry/>
      <input type="text" [(ngModel)]="cardCvc"  placeholder="***" name="cvc" card-cvc maxlength="3"/>
    </form>
    <ion-row class="save-card" *ngIf="paymentMethod == 'CREDIT_CARD' && addNewCard">
      <button (click)="saveCreditCard()">Guardar tarjeta</button>
      <button (click)="addNewCard = false">Ocultar</button>
    </ion-row>
    <ion-item class="actions">
      <button (click)="buyTicketCC()" *ngIf="paymentMethod == 'CREDIT_CARD' && creditCardSelected">Comprar Ticket</button>
      <button (click)="buyTicketCash()" *ngIf="paymentMethod == 'Cash'">Solicitar Pin</button>
      <button (click)="buyTicketPSE()" *ngIf="paymentMethod == 'PSE'">Ir al banco a pagar</button>
    </ion-item>
  </div>
</ion-content>
