page-checkout {
    ion-header {
        .topbanner-container {
            height: 4em;
            img {
                margin-top: 5px;
                height: 35px;
                padding: 1px;
            }
            .return {
                background-color: #18003F;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 40%;
                    width: 90%;
                }
            }
            .logo {
                background-color: #18003F;
            }
            .perfil {
                background: linear-gradient(to left, #4A00AA, #18003F);
            }
            .list {
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(to right, #4A00AA, #18003F);
                span {
                    color: white;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }
            }
        }
        box-shadow: 0 12px 75px #18003F;
    }
    ion-content {
        .container {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            h2, h5 {
                padding: 0 15px;
            }
            .payment-info {
                padding: 15px;
                ion-card-header {
                    padding: 16px 0;
                }
                ion-card-content {
                    padding: 0;
                    .item {
                        width: 100%;
                        display: flex;
                        margin-bottom: 1em;
                        justify-content: space-between;
                        &:nth-child(1) {
                            margin-top: 1em;
                        }
                        &:nth-child(3) {
                            margin-top: 3em;
                            font-weight: bold;
                            h3 {
                                font-weight: bold;
                                font-size: 1.2em;
                                &:last-of-type {
                                    font-size: 1.4em;
                                }
                            }
                            
                        }
                    }
                }
            }
            .payment-support {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0;
                justify-content: center;
                align-items: center;
                h3 {
                    font-size: 1em;
                    text-transform: uppercase;
                    margin: 0;
                }
                .images {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        &:first-of-type {
                            width: 75px;
                            height: 20px;
                        }
                        &:last-of-type {
                            width: 75px;
                            height: 75px;
                        }
                    }
                }
            }
            .payment-data {
                .border-bottom {
                    border-bottom: 1px solid;
                }
            }
            ion-item {
                width: 80%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                ion-select {
                    max-width: 80%;
                }
            }
            .payment-method, .bank-selection, .credit-cards {
                width: 95%;
            }
            .card-container {
                margin-top: 1em;
            }
            form {
                display: flex;
                flex-direction: column;
                input {
                    height: 3em;
                    width: 80%;
                    border: none;
                    border-bottom: 2px solid #4A00AA;
                    margin: 0 auto;
                    border-radius: 2px;
                    margin-bottom: .5em;
                }
            }
            .actions, .save-card {
                .item-inner {
                    border: none;
                }
                width: 100%;
                button {
                    margin: 0 auto 0.3em auto;
                    font-size: .9em;
                    width: 15em;
                    font-weight: bold;
                    text-transform: capitalize;
                    background: linear-gradient(to bottom, #4A00AA, #18003F);
                    height: 3em;
                    color: white;
                    border-radius: 2px;
                }
            }
            .save-card {
                display: flex;
                flex-direction: column;
            }
        }
    }

}
