<ion-header>
  <ion-row class="topbanner-container">
      <ion-col col-1 class="return">
          <img src="assets/images/event-detail/volver.png" (click)="goBack()" alt="">
      </ion-col>
      <ion-col col-4 class="logo">
          <img src="assets/images/home/logoSuperior.png" alt="">
      </ion-col>
      <ion-col col-2 class="perfil">
          <img src="assets/images/home/logo-perfil.png" alt="">
      </ion-col>
      <ion-col col-5 class="list" (click)="settupMenu()">
          <span>TERMINOS Y CONDICIONES</span>
      </ion-col>
  </ion-row>
</ion-header>


<ion-content>
    <div class="background-image"></div>
    <div class="background"></div>
    <div class="contenedor">
      <h3></h3>
      <p>
        1.Quiénes somos. <br />

        Servicios de EDE / E Dance Event. <br />

        ¡Bienvenido a EDE! EDE nace como un medio de información especializado 100%  en la promoción de la escena de la música electrónica local (colombia). A través de nuestra revista digital www.edancevent.com compartimos contenido publicitario original encargado bajo pedido que busca promover la asistencia de los denominados “ravers” / usuarios de la aplicación interesados en asistir a conciertos 100% de música electrónica. Mediante nuestro aplicativo móvil ofrecemos un canal promocional directo entre organizadores de eventos y  “Ravers”. La aplicación hace la función de agenda que brinda información detallada y de primera mano, publicada directamente por los organizadores del evento. Son entonces los organizadores de eventos los responsables de publicar el anuncio promocional de su concierto, dirigiéndose a www.edance-lab.com allí completara la información requerida para la promoción de sus próximos conciertos a realizarse según la ciudad donde este se desempeñe / diferentes ciudades de Colombia.<br />

 

        *Los productos, características y ofertas de EDE están disponibles (a) en línea a través de varias propiedades: www.edancevent.com   / Y el aplicativo móvil  EDE disponible para dispositivos Android e iOS . Administramos la gestión de acceso a espectáculos (conciertos), así como el patrocinio y marketing o distribución de publicidad; y (c) a través de aplicaciones móviles, páginas web, interfaces de programación de aplicaciones y subdominios ("Aplicaciones"). (a), (b) y (c) se denominan colectivamente "Propiedades de EDE" o nuestros "Servicios".<br />

          

        Si tienes alguna pregunta o duda, no dudes en conectarte con nosotros en la dirección mauricioatencia@edancevent.com  <br />

          



        1.1 Quién es quién.

          

        Cuando esta Política de privacidad utiliza el término "Organizador" nos referimos a creadores de eventos que usan los Servicios para crear eventos para los consumidores que usan nuestros Servicios (a) para consumir información o asistir a eventos ("Ravers"), o (b) para cualquier otra razón. Los Organizadores, los Ravers y los terceros que utilizan nuestros servicios se mencionan colectivamente en estos Términos como "Usuarios", "tú" o "tu".<br />


          

        2. Nuestra declaración de privacidad.<br />

          

        2.1 Aplicación.<br />

        PRINCIPIO DE SEGURIDAD:<br />

        EDE App busca agremiar a los organizadores de conciertos de música electrónica a nivel nacional (colombia) ofertando un canal 100% especializado y segmentado; es por esto que es importante la información proporcionada por los usuarios/ravers sobre su lugar de residencia (ciudad)  / Genero / Edad / Correo electrónico . Estos informacion personal está sujeta a tratamiento por el Responsable del Tratamiento: EDE, Encargado del Tratamiento a que se refiere la Ley 1581 de 2012, se maneja bajo las medidas necesarias para otorgar seguridad a los registros evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.<br />
          

        - Queremos que recibas únicamente los correos electrónicos que realmente te interesen, así que debajo de cada correo electrónico que recibes puedes encontrar un vínculo para Anular la suscripción, a fin de hacernos saber qué correos no deseas recibir.<br />

        - Escribiendo al correo mauricioatencia@edancevent.com  puedes elegir suscribirte o anular la suscripción a los boletines de noticias de EDE, actualizaciones y notificaciones, así como a cualquier invitación de evento y a los correos electrónicos de los organizadores de eventos a los asistentes.<br />


          

        Datos personales que recopilamos. <br />


        Cuando interactúas con nosotros a través de los Servicios, podemos recopilar Datos personales. A veces esto será en nuestro propio nombre y otras veces será en nombre de un Organizador que utiliza nuestros Servicios para llevar a cabo un evento. Esta es una distinción importante para los propósitos de la ley de protección de datos de la Ley 1581 de 2012<br />

          

        Información recopilada de todos los Usuarios.<br />

        Información que nos proporcionas: Al igual que con todos los Usuarios, recopilamos Datos personales cuando proporcionas de forma voluntaria dicha información a los Servicios (por ejemplo, al registrarte para acceder a los Servicios, al ponerte en contacto con nosotros para resolver dudas, al responder a una de nuestras encuestas o al buscar o usar ciertas partes de los Servicios). Los Datos personales que podemos recoger incluyen, entre otros, tu nombre, dirección, dirección de correo electrónico y cualquier otra información que elijas proporcionar y/o que permita la identificación personal de los Usuarios.<br />

          

        Sobre el uso comercial de los datos<br />

        Solo ofrecemos anuncios publicitarios de terceros relacionados con la escena de la música electrónica, en nuestras Propiedades en línea. Los organizadores que promocionan sus eventos en nuestra aplicación pueden visualizar y usar información sobre los Ravers: El nombre / Ciudad / Genero. Esta información solo es compartida durante 1 mes con el organizador de eventos y podrá ser usada con la finalidad de ofrecer publicidad relevante sobre conciertos en los que puedas estar interesado. Actualmente EDE no cuenta con sistemas de medición como google analytics, SDK o  similares y no comparte información con terceros. La información que recopilamos mediante este proceso no les permite a los organizadores identificar tu nombre completo, tus detalles de contacto como correo electrónico ni otros detalles personales identificativos a menos que tú elijas proporcionarlos.<br />

        Si eres usuario EDE podrás visualizar la información detallada sobre cada evento publicado en la aplicación sin requerimiento de registro alguno, a menos que desearas utilizar alguno de nuestros servicios de búsqueda especializada para encontrar más fácil el evento que deseas. Estos filtros permiten a los “Ravers”/usuarios encontrar el evento que desean utilizando los siguientes filtros: Fecha / Sub-Género musical / Ciudad /<br />

        ¿Qué correos electrónicos recibirán automáticamente los suscritos?<br />
        Correos electrónicos relacionados con boletines/cuentas de EDE<br />
        Se envían a los asistentes para recomendar eventos relacionados según la ubicación, eventos públicos pasados a los que se asistió. Los asistes pueden optar por no recibirlos en cuanto se registran o escribiendo un correo a mauricioatencia@edancevent.com<br />
      </p>
    </div>
</ion-content>
