page-privacy-data-treatment {
    position: relative;
    ion-header {
        .topbanner-container {
            height: 9vh;
            img {
                width: 100%;
                height: 100%;
                padding: 1px;
            }
            .return {
                background-color: #18003F;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 40%;
                    width: 90%;
                }
            }
            .logo {
                background-color: #18003F;
            }
            .perfil {
                background-color: #18003F;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .list {
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(to left, #4A00AA, #18003F);
                span {
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    color: white;
                }
            }
        }
        box-shadow: 0 12px 75px #18003F;
    }
    .background-image {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-image: url("../assets/images/list/background.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .background {
        position: fixed;
        background: linear-gradient(to bottom, rgba(74, 0, 170, 0.9), rgba(24, 0, 63, 0.9));
        width: 95%;
        right: 0;
        height: 100%;
        z-index: -1;
    }
    .contenedor {
        padding: 10px 10px 10px 10%;
        color: white;
        overflow: scroll;
        height: 100%;
        p {
            line-height: 22px;
        }
    }
    
}
