<ion-header>
  <ion-row class="topbanner-container">
      <ion-col col-4 class="logo">
          <img src="assets/images/home/logoSuperior.png" alt="">
      </ion-col>
      <ion-col col-2 class="perfil">
          <img src="assets/images/home/logo-perfil.png" alt="">
      </ion-col>
      <ion-col col-6 class="list">
          <span>VALIDACION</span>
      </ion-col>
  </ion-row>
</ion-header>


<ion-content>
  <h1>Escaner de tickets</h1>
  <button (click)="openScanner()">Validar un QR</button>
  <span>{{ scanned }}</span>
  <button class="close-session" (click)="logout()">Cerrar sesión</button>
  <button class="need-assistance" (click)="showCellphone()">¿ Problemas técnicos ?</button>
</ion-content>
