page-tickets-validation {
    .scroll-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ion-header {
        .topbanner-container {
            height: 9vh;
            img {
                padding: 1px;
            }
            .logo img{
                height: 100%;
                width: 100%;
            } 
            .perfil img {
                margin-top: 5px;
                margin-left: 1em;
                width: 40px;
                height: 40px;
            }
            .return {
                background-color: #18003F;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 50%;
                }
            }
            .logo {
                background-color: #18003F;
            }
            .perfil {
                background: linear-gradient(to left, #4A00AA, #18003F);
            }
            .list {
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(to right, #4A00AA, #18003F);
                span {
                    color: white;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }
            }
        }
        box-shadow: 0 12px 75px #18003F;
    }
    ion-content {
        text-align: center;
        
        h1 {
            margin-top: 2em;
        }
        button {
            margin: 2em auto 0.3em auto;
            font-size: 1em;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 3px;
            background: linear-gradient(to bottom, #4A00AA, #18003F);
            height: 3em;
            color: white;
            border-radius: 2px;
        }

        .close-session {
            text-transform: none;
            position: absolute;
            bottom: 20%;
        }

        .need-assistance {
            text-transform: none;
            position: absolute;
            bottom: 5%;
        }
    }
}
